body{
    background-image: url(BG.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    text-align: center;
    margin-top:20px;
   
}
h4{
    margin-right:10px;
    text-align-last: right;
    font-family:sans-serif;
    color:balck;

}
img{
    height:20px;
    width:20px;
}